<div class="container-fluid p-0 cluedo-sheet">
    <div class="row no-gutters">
        <div class="col-sm">
            <nav class="navbar navbar-custom navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Cluedo Classic</a>
            </nav>
        </div>
    </div>
    <div class="row cluedo-table no-gutters">
        <div class="col-sm">
            <div class="c-header">
                <div class="float-left pl-1 pr-1 c-grey-bg c-gamers c-uppercase c-border">Játékosok</div>
                <div class="float-left c-grey-bg c-b-w c-placeholder c-border">&nbsp;</div>
                <div class="float-left pl-1 pr-1 c-g-row c-b-w c-border">ÉN</div>
                <div class="float-left c-b-w c-g-row c-border">&nbsp;</div>
                <div class="float-left c-b-w c-g-row c-border">&nbsp;</div>
                <div class="float-left c-b-w c-g-row c-border">&nbsp;</div>
                <div class="float-left c-b-w c-g-row c-border">&nbsp;</div>
                <div class="float-left c-b-w c-g-row c-border">&nbsp;</div>
            </div>
        </div>
    </div>

    <div *ngFor="let item of headerList | keyvalue">
        <div class="c-whois-list">
            <div class="row cluedo-table no-gutters">
                <div class="col-sm">
                    <div class="c-header">
                        <div class="float-left pl-1 pr-1 c-gamers c-uppercase c-border c-text-align c-b">
                            <span *ngIf="item.key == 0">Ki?</span>
                            <span *ngIf="item.key == 1">Mivel?</span>
                            <span *ngIf="item.key == 2">Hol?</span>
                        </div>
                        <div class="float-left c-grey-bg c-b-w c-placeholder c-border">&nbsp;</div>
                        <div class="float-left c-grey-bg pl-1 pr-1 c-g-row c-b-w c-border">&nbsp;</div>
                        <div class="float-left c-grey-bg c-b-w c-g-row c-border">&nbsp;</div>
                        <div class="float-left c-grey-bg c-b-w c-g-row c-border">&nbsp;</div>
                        <div class="float-left c-grey-bg c-b-w c-g-row c-border">&nbsp;</div>
                        <div class="float-left c-grey-bg c-b-w c-g-row c-border">&nbsp;</div>
                        <div class="float-left c-grey-bg c-b-w c-g-row c-border">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="row cluedo-table no-gutters">
                <div class="col-sm">
                    <div class="c-content" *ngFor="let who of item.value">
                        <div class="float-left pl-1 pr-1 c-gamers c-border c-text-align c-r-b-t">{{who}}</div>
                        <div class="float-left c-b-w c-placeholder c-border c-r-b-t">&nbsp;</div>
                        <div class="float-left pl-1 pr-1 c-g-row c-b-w c-border c-r-b-t">&nbsp;</div>
                        <div class="float-left c-b-w c-g-row c-border c-r-b-t">&nbsp;</div>
                        <div class="float-left c-b-w c-g-row c-border c-r-b-t">&nbsp;</div>
                        <div class="float-left c-b-w c-g-row c-border c-r-b-t">&nbsp;</div>
                        <div class="float-left c-b-w c-g-row c-border c-r-b-t">&nbsp;</div>
                        <div class="float-left c-b-w c-g-row c-border c-r-b-t">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>