$header-gb-color: #E2E2DB;
$border-color: rgb(81, 81, 81);
.cluedo-sheet {
    font-size: 12px;
    .cluedo-table {
        line-height: 21px;
        .c-border {
            border: 1px solid $border-color;
        }
        .c-grey-bg {
            background: $header-gb-color;
        }
        .c-players {
            border-right: none;
            border-left: none;
            width: 30%;
        }
        .c-uppercase {
            text-transform: uppercase;
        }
        .c-b-w {
            width: 10%;
            border-right: none;
        }
        .c-g-row {
            text-align: center;
        }
        .c-text-align {
            text-align: center;
        }
        .c-b {
            font-weight: bold;
        }
        .c-r-b-t {
            border-top: none;
        }
        .c-input-players {
            width: 90%;
            height: 20px;
            padding: 0px 3px 0px 3px;
            border: none;
            text-transform: uppercase;
            text-align: center;
        }
        .c-selected-img {
            display: block;
            margin: auto;
            width: 20px;
            height: 21px;
        }
        .c-img-x {
            background: url('../assets/img/x-icon.svg');
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .c-img-q {
            background: url('../assets/img/q-icon.svg');
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: center center;
            color: red;
        }
        .c-r-b-t:hover {
            animation: highlight 1000ms ease-out;
        }
        @keyframes highlight {
            0% {
                background-color: rgb(170, 241, 168);
            }
            100% {
                background-color: white;
            }
        }
    }
}